AWS_LAMBDA_JS_RUNTIME=nodejs10.x

FAUNADB_SERVER_SECRET=<>

COOKIE_NAME=bc_subscription_session

BC_CLIENT_ID=<Replace with BigCommerce App Id>
BC_CLIENT_SECRET=<Replace with BigCommerce App Secret>

BC_AUTH_CALLBACK=<https://<replace with username>.ngrok.io/.netlify/functions/bigcommerce_auth>
APP_URL=<https://<replace with username>.ngrok.io/>
